<div class="container">
  <div class="accordion" id="accordionExample">
    <div
      class="accordion-item"
      *ngFor="let item of cartoonChars; let i = index"
    >
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#' + item.id"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          {{ item.name }}
        </button>
      </h2>
      <div
        [id]="item.id"
        class="accordion-collapse collapse"
        [class.show]="i == 0"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <img
            [src]="item.img"
            [alt]="item.name + 'from movie'"
            class="cartoonimg"
          />
          {{ item.description }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      *ngFor="let item of cartoonChars; let i = index"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      [attr.data-bs-slide-to]="i"
      [class.active]="i == 0"
      [attr.aria-current]="ariaCurrent(i)"
      [attr.aria-label]="'Slide' + i"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let item of cartoonChars; let i = index"
      [class.active]="i == 0"
    >
      <div class="imgContainer">
        <img
          [src]="item.img"
          class="d-block w-100"
          [alt]="item.name + 'form movie'"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ item.name }}</h1>
          <h2>{{ item.movie }}</h2>
          <p class="bgColor">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
  <div class="card col-4" *ngFor="let item of cartoonChars; let i = index">
    <div class="imgContainer" [class.bgcolor]="i == 0">
      <img
        [src]="item.img"
        class="card-img-top"
        [alt]="item.name + 'from movie'"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        {{ item.description }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
