.accordion {
  width: 70%;
  margin-top: 200px;
}

.card {
  margin-top: 200px;
}

.imgContainer {
  height: 600px;
}
.imgContainer img {
  height: 100%;
  object-fit: contain;
}
.bgcolor {
  background-color: blue;
}
.carousel {
  margin-top: 200px;
}
.carousel-indicators button {
  background-color: black;
}
